<manifest package="com.geecare.blelibrary"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <receiver android:name=".BluetoothStateReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED">

                </action>
            </intent-filter>
        </receiver>


    </application>

</manifest>
